<%page expression_filter="h"/>
<%namespace name="static" file="/static_content.html"/>

<footer class="main-footer fondo_guinda text-light">
  <div class="list-info">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 mt-5">
          <img src="https://framework-gb.cdn.gob.mx/gobmx/img/logo_blanco.svg"
               alt="Gobierno de México" class="logo_footer" style="max-width:90%;"/>
        </div>
        <div class="col-sm-3 mt-5">
          <h5>Enlaces</h5>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link p-0 text-light"
                 href="https://participa.gob.mx"
                 target="_blank">Participa</a>
            </li>
            <!-- Añade aquí el resto de enlaces -->
          </ul>
        </div>
        <!-- Otras columnas de footer -->
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <img src="https://framework-gb.cdn.gob.mx/gobmx/img/pleca.svg" class="img-fluid" alt="Pleca"/>
    </div>
  </div>
</footer>
