<%page expression_filter="h"/>
<%inherit file="/main.html"/>

<%block name="headextra">
    <link rel="stylesheet" href="${static.url('css/lms-main-v1.css')}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
</%block>

<%block name="navbar">
    <%include file="header/navbar-authenticated.html"/>
</%block>

<h1>Bienvenido a EMI</h1>
<p>Plataforma educativa</p>

<%block name="footer">
    <%include file="footer.html"/>
</%block>

