<%page expression_filter="h"/>
<!DOCTYPE html>
<html lang="es">
<head>
  <!-- Bloque que heredarán todas las páginas -->
  <%block name="head_top">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap CSS + tus overrides -->
    <link rel="stylesheet" href="${static.url('css/main.css')}"/>
  </%block>
</head>

<%block name="body">
<body class="montserrat">
  <!-- Cabecera común -->
  <%include file="header/header.html"/>

  <!-- Contenido específico de cada página -->
  ${next.body}

  <!-- Pie de página común -->
  <%include file="footer/footer.html"/>
</body>
</%block>
</html>
