<%page expression_filter="h" args="online_help_token, use_cookie_banner=False"/>
<%namespace name='static' file='/static_content.html'/>

<header class="global-header fondo_guinda">
  <div class="container-fluid cabeza">
    <%include file="brand.html"/>

    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarScroll"
            aria-controls="navbarScroll"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarScroll">
      <%include file="navbar-not-authenticated.html"/>
    </div>
  </div>
</header>
