/////////////////// General

$content_padding_top: 24px;
$content-padding-bottom: 10px;
$header-height: 75px;
$footer-height: 125.5px;

body, body.view-profile {
  min-height: initial;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
.page-content-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
  border: none;
}

%btn-pl-default-base {
  border-radius: 0;
}

.btn, .global-header .nav-links .secondary .btn {
  border-radius: 0;
}

%t-title {
  font-family: $font-family-title;
}

h1, h2, h3, h1 span, h2 span, h3 span, .nav-item {
  font-family: $font-family-title;
}

// It is necessary to specify `:not(.courseware) >` in order to not affect the style
// of `#content.content-wrapper` inside the unit iframe in the MFE
:not(.courseware) > #content.content-wrapper {
  @include media-breakpoint-up(lg) {
    padding-top: $content-padding-top;
    padding-bottom: $content-padding-bottom;
    margin-top: $header-height;
  }
  min-height: calc(100vh - #{$header-height + $content-padding-top + $content-padding-bottom + $footer-height}); // sticky footer
}

////////////////// Fonts
@import "fonts";

/////////////////// Register/Sign in header
header.global-header {
  @include media-breakpoint-up(lg) {
    position: fixed;
    top: 0;
    z-index: 200; // necessary to keep the header on top of other elements
    overflow: visible;  // fix for Safari
  }
  //background-color: #4c61bf;
  box-shadow: none;
}

header.global-header .nav-links .secondary .user-image-frame {
  border-radius: 0;
}

header.global-header .nav-links .secondary .dropdown-user-menu {
  position: fixed;
}

/////////////////// Sign in form

.login-register .form-field {
    // Hide "Sign in with your company or school link"
    button.enterprise-login {
        display: none;
    }
}

/////////////////// Home page
.home header {
  box-shadow: none;
  background-color: #fff;
}

.home > header .title {
  box-shadow: none;
}

.home > header .outer-wrapper {
  padding: 0;
}

.home > header .title > .heading-group {
  width: 100%;
  text-align: center;
}
.home > header .title > .heading-group h1 {
  text-align: center;
}

.animation-home-header-pop-up, .home > header .outer-wrapper {
  animation: none;
}

.highlighted-courses .courses, .find-courses .courses {
  padding-top: 0;
}

.home .courses-container .courses .courses-listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .courses-listing-item {
    margin: 0 20px 30px 20px;
    // Fix right margin
    &:nth-child(4n), &:last-child {
      margin-right: 20px;
    }
  }
}

////////////////// User dashboard /dashboard
.dashboard .main-container {
  padding: initial;
}

////////////////// "View this course as staff/learner/..."
nav.wrapper-preview-menu {
    // It is necessary to specify `nav` in order to override the common higher priority rule
    @include media-breakpoint-up(lg) {
      margin-top: $header-height;
    }
}

////////////////// Course about page
.course-info header.course-profile {
  background: #fff;
  box-shadow: none;
  border-bottom: none;

  .intro-inner-wrapper {
    border: none;
    box-shadow: none;
  }
}

.course-info {
  .container {
    padding-bottom: 0;
  }
  .details .inner-wrapper > section {
    margin-bottom: 0;
  }
  header.course-profile .intro-inner-wrapper .intro .main-cta {
    span.register {
      @extend %t-copy-base;
      padding: 10px 0;
    }
    strong {
      background-image: none;
      border-radius: 0;
      &:hover:not(:disabled) {
        background-image: none;
      }
    }
  }
}


/////////////////// Course search
.find-courses, .university-profile {
  background-color: #fff;
}

/////////////////// User profile
.view-profile .profile-self .wrapper-profile-field-account-privacy {
  margin-top: -$content-padding-top;
}
.view-profile .wrapper-profile {
  background-color: #fff;
}

.view-profile .wrapper-profile-section-container-one .wrapper-profile-section-one {
  border: solid $primary;
  border-width: 5px 1px 1px 1px;
}

// Account settings
.wrapper-account-settings .wrapper-header {
  height: 100px;
}
.wrapper-account-settings .wrapper-header .header-title {
  padding-top: 0;
}
.wrapper-account-settings .wrapper-header .account-nav button.active {
  border-bottom-color: $primary;
}

/////////////////// Footer
.wrapper-footer {
  box-shadow: none;
  padding: 25px 40px;

  .wrapper-logo {
      display: none;
  }
  .copyright {
      display: none;
  }
  .nav-legal ul {
      display: inline-block;
  }
  footer#footer-openedx .footer-about-openedx {
      a {
          float: none;
      }
      p {
          text-align: right;
      }
  }
}
.container, .main-container, .find-courses {
  max-width: 1600px;
  padding-left: 15px !important;
  padding-right: 15px !important;
  margin: 0 auto;
}
.window-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
}
#lean_overlay {
  z-index: 250;
}
.modal {
  box-shadow: none;
  padding: 0;
  background: none;
  .inner-wrapper {
      padding: 15px;
      border-radius: 8px;
      border: none;
      @include media-breakpoint-up(sm) {
        padding: 24px;
      }
    }
}
.container {
  &.about{
    padding: 30px 0;
    font-size: 16px;
    line-height: 24px;
    color: #515661;
    h1 {
      font-size: 24px;
      font-weight: 700;
      line-height: 34px;
      margin: 0 0 12px;
      text-align: left;
      color: $dark;
    }
    p {
      margin: 0 0 20px;
    }
    a {
      color: $primary;
      text-decoration: underline;
    }
    .graphic-img {
      margin: 0 auto;
      max-width: 178px;
      padding: 30px 0;
      img {
         width: 100%;
         display: block;
         height: auto;
      }
    }
  }
}
body.view-statictab, body.view-instructordash, body.view-teams, body.view-wiki {
  .wrapper-course-material {
    margin: 0 auto;
    max-width: 1600px;
    padding: 20px 15px !important;
    .tabs.course-tabs {
      margin: 0 0 10px;
      border-bottom: 1px solid #E5E7EB;
      li {
        margin: 0 32px 0 0;
        a {
          border-width: 2px;
          font-size: 14px;
          font-weight: 500;
          color: $light-dark;
          &:hover, &:visited {
            color: $dark;
            border-color: transparent;
          }
          &.active {
            color: $dark;
            border-color: $primary;
          }
        }
      }
    }
  }
  #main {
    .container {
      padding: 0;
    }
    .static_tab_wrapper {
        border: none;
        max-width: 1600px;
        padding: 0 15px;
        margin: 0 auto;
        box-sizing: border-box;
        background: no-repeat;
    }
  }
}
body.view-teams {
  .container {
    max-width: 1600px !important;
    padding: 0 15px !important;
    margin: 0 auto;
    >div {
      border: none;
      background: none;
    }
  }
}
body.view-instructordash {
  .container {
    max-width: 1600px !important;
    padding: 0 15px !important;
    margin: 0 auto;
    >div {
      border: none;
      background: none;
    }
  }
  .instructor-dashboard-content-2 {
    padding: 0;
    h2.instructor-dashboard-title {
      font-size: 24px;
      line-height: 30px;
    }
    a.instructor-info-action {
      background: $primary;
      color: white;
      margin: 0 0 10px;
    }
    .instructor-nav {
      overflow: hidden;
      width: 100%;
      white-space: nowrap;
      overflow-x: auto;
      border: 1px solid #E5E7EB;
      border-radius: 6px;
      padding: 0 !important;
      letter-spacing: -.32em;
      li {
        letter-spacing: normal;
        &:first-child {
          button {
            border: none;
          }
        }
        button {
          border: none !important;
          border-radius: 0 !important;
          border-left: 1px solid #E5E7EB !important;
          font-size: 14px;
          line-height: 20px;
          font-weight: 500;
          padding: 9px 17px;
          color: #374151;
          text-decoration: none !important;
          &.active-section {
            background: $primary !important;
            color: white !important;
          }
          &:hover {
            color: $dark;
          }
        }
      }
    }
    .enrollment-wrapper {
      margin: 0;
      table {
        width: 100%;
        th, td {
          padding: 10px;
          width: 50%;
          font-size: 16px;
          line-height: 28px;
          font-weight: 400;
          color: #111827;
        }
        .total {
          border-top: 1px solid #E5E7EB;
          th, td {
            color: $primary;
            font-weight: 700;
          }
        }
      }
    }
    .info-holder, .basic-wrapper, .course-errors-wrapper, .running-tasks-container {
      background: $primary-light;
      padding: 15px;
      margin: 0 0 30px;
      h4 {
        font-size: 18px;
        color: $dark;
        font-weight: 600;
        span  {
          font-size: 14px;
          font-weight: normal;
          color: $light-dark;
        }
      }
    }
    .list-input {
      list-style: none;
      padding: 0;
      li {
        display: flex;
        font-size: 16px;
        line-height: 28px;
        label, b {
          font-weight: normal;
          font-style: normal;
          font-size: 16px;
          padding: 10px;
          line-height: 28px;
          margin: 0;
          width: 50%;
          color:#111827;
        }
      }
    }
  }
  .enrollment-button, input[type=button], button.btn {
    background: $primary;
    border-color: $primary;
    color: white;
    font-weight: 500;
    font-size: 14px;
    box-shadow: none;
  }
}
.course-wrapper .course-content .xblock.xblock-student_view-vertical,
.course-wrapper .course-content .xblock.xblock-public_view-vertical,
.course-wrapper .courseware-results-wrapper .xblock.xblock-student_view-vertical,
.course-wrapper .courseware-results-wrapper .xblock.xblock-public_view-vertical {
  max-width: 100% !important;
}
body.view-wiki{
   .container{
    max-width: 1600px !important;
    margin: 0 auto !important;
    padding: 0 15px !important;
    >div {
      background: none;
      box-shadow: none;
      border: none;
    }
    .wiki {
      .breadcrumbs-header {
        padding: 15px;
        background: $primary-light;
        border-radius: 8px;
        border: none;
        height: auto;
        overflow: hidden;
        margin: 0 0 30px;
        .global-functions {
          margin: 0 0 0 10px;
          a.add-article-btn {
            margin: 0;
            background: $primary;
            color: white;
            font-size: 14px;
            font-weight: 500;
            box-shadow: none;
            border: none;
            padding: 5px 15px !important;
            line-height: 28px;
            text-shadow: none;
          }
        }
        .breadcrumb {
          margin: 0;
          li {
            &:after {
              color: #6B7280;
            }
            a {
              font-size: 14px;
              font-weight: 500;
              color: #6B7280;
            }
          }
        }
      }
      .new-article {
        padding: 10px 0;
      }
    }
    .page-header, h1 {
      border-bottom: none;
      font-size: 20px;
      padding: 0;
      margin: 0 0 10px;
    }
    .article-wrapper {
      border: 1px solid #F2F7F8;
      border-radius: 8px;
      padding: 15px;
      &:after {
        display: block;
        clear: both;
        content: "";
      }
      .main-article {
        padding: 0;
        width: calc(100% - 240px - 40px);
        margin: 0 40px 0 0;
        font-size: 14px;
        line-height: 28px;
        p {
          margin: 0 0 15px;
        }
        h3.entry-title {
          margin: 0 0 15px;
          font-size: 18px;
          line-height: 28px;
          font-weight: 600;
          border: none;
          padding: 0;
        }
      }
      .article-functions {
        padding: 0;
        width: 240px;
        .nav-tabs {
          li {
            margin: 0 0 1px;
            a {
              font-size: 14px;
              line-height: 28px;
              font-weight: 500;
              color: $primary;
              padding: 6px 10px;
              &:hover {
                text-decoration: none;
                font-weight: 500;
                border: none;
                background: $primary-light;
              }
              .icon {
                font-size: 18px;
                line-height: 28px;
                color: #82919B;
                margin: 0;
              }
            }
            &.active {
              a {
                border: none;
                color: $primary;
                background: $primary-light;
              }
            }
          }
        }
        .timestamp {
          border: 1px solid #E5E7EB;
          border-radius: 8px;
          border-left: 6px solid $primary-light;
          padding: 15px;
          .label {
            font-weight: 500;
            font-size: 12px;
            color: #4B5563;
          }
          .date {
            font-weight: 500;
            font-size: 14px;
            color: #4B5563;
          }
        }
        .see-children {
          border: none;
          a {
            background: $primary;
            padding: 6px 15px;
            text-align: center;
            color: white;
            font-size: 14px;
            font-weight: 500;
            border-radius: 6px;
            &:hover, &:focus {
              font-weight: 500;
              color: white;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

@import '../../../extra/footer';
@import '../../../extra/header';
@import '../../../dashboard/dashboard';
@import '../../../courseware/discover';
@import '../../../courseware/about';
@import '../../../courseware/bookmarks';
@import '../../../home/home';
@import '../../../programs/programs';
@import '../../../certificates/certificate';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


//
//  EMI- style monse marrana
// 
 .fondo_guinda{
    background-color:#5a122c!important;
 }
 
 .fondo_guinda_claro{
   background-color:#99657a!important;
 }
 
 .fondo_verde_oscuro{
     background-color: #1d2721!important;
 }
 
 .fondo_gris_claro{
   background-color: #eaeaea!important;
 }
 
 .fondo_gris_oscuro{
   background-color: #6b6b6b!important;
 }
 
 
 .fondo_card{
   background-color:#dfd6c5; 
 
 }
 
 .fondo_amarillo{
   background-color: #9f742e;
 }
 
 .fondo_crema{
   background-color:#DFD6C5;
 }
 
 .color_guinda_claro{
    color:#99657a!important;
 }
 
 .color_guinda{
    color:#5a122c!important;
 }
 
 .color_amarillo{
   color: #9f742e;
 }
 
 .color_negro{
   color:#1a281f;
 }
 
 .color_gris_oscuro{
   color: #6b6b6b!important;
 }
 
 .container-fluid{
   padding-right: 0px !important; 
     padding-left:  0px !important;
 }
 
 .color_verde_oscuro{
     color: #1d2721!important;
 }
 
 .color_gris{
   color:#9a9b9a;
 }
 
 .montserrat {
   font-family: "Montserrat", sans-serif;
   font-optical-sizing: auto;
   font-style: normal;
 }    
 
 .navbar-nav {
   display: flex;
   align-items: center;
 }
 
 .navbar-nav li a{
   color:white;
   font-weight: bold;
 }
 
 .dropdown-menu li a{
   color:black;
 }
 
 .nav-link:focus, .nav-link:hover{
   color:white!important;
 }
 
 .navbar-nav li form input{
   border-radius: 66px 66px 66px 66px;
   -webkit-border-radius: 66px 66px 66px 66px;
   -moz-border-radius: 66px 66px 66px 66px;
   border:none!important;
   color:white!important;
 } 
 
 .navbar-nav li form input:focus{
   box-shadow:none!important;
 }
 
 .circulo {
   width: 4rem;
   height: 4rem;
   border-radius: 50%;
   background: #ebd295;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
     margin:0px auto;
     padding:3%;
 }
 
 .circulo_amarillo_Osc {
   width: 4rem;
   height: 4rem;
   border-radius: 50%;
   background: #9f742e;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
     margin-left:10%;
     padding:3%;
 }
 
 
 .circulo_guinda {
   width: 3rem;
   height: 3rem;
   border-radius: 50%;
   background:#5a122c;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
     margin:0px auto;
     padding:2%;
 }
 
 
 
 .circulo_negro {
   width: 3rem;
   height: 3rem;
   border-radius: 50%;
   background: #1a281f;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin:0px auto;
     padding:3%;
 }
 
 
 .circulo_gris {
   width: 3rem;
   height: 3rem;
   border-radius: 50%;
   background: #9a9b9a;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin:0px auto;
     padding:3%;
 }
 
 .circulo_azul {
     width: 3rem;
     height: 3rem;
     border-radius: 50%;
     background: #45d8b4;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     margin: 0px auto;
     position: absolute;
     z-index: 1;
     margin-left: 7%;
     margin-top: -.5%;
 }
 
 .img_fondo{
    height:80vh;
    background-image: url(../img/imagen_prin.png);
    background-size: 100% auto;
    background-position: center top;
    background-repeat: no-repeat; 
 }
 .row {
     --bs-gutter-x: 0;
 }
 
 .titulos{
    border-radius: 66px 66px 66px 66px;
    -webkit-border-radius: 66px 66px 66px 66px;
    -moz-border-radius: 66px 66px 66px 66px;
    border: solid 2px #9F742E;
    padding:2% 0% 2% 2%;
    font-weight: bold;
 
 }
 
 .card{
   margin: 8% 8% 0% 8%;
   box-shadow: 1px 0px 7px 1px rgba(0,0,0,0.71);
   -webkit-box-shadow: 1px 0px 7px 1px rgba(0,0,0,0.71);
   -moz-box-shadow: 1px 0px 7px 1px rgba(0,0,0,0.71);
 }
 
 .card-body {
     padding: 2rem 2rem 0rem 2rem;
 }
 .card-text{
   font-size: .8rem;
 }
 
 .btn_join{
   width: 100%;
   border-radius: 11px 11px 11px 11px;
   -moz-border-radius: 11px 11px 11px 11px;
   -webkit-border-radius: 11px 11px 11px 11px;
   border:none!important;
 
 }
 
 .select_nivel{
   width: 100%;
   border-radius: 11px 11px 11px 11px;
   -moz-border-radius: 11px 11px 11px 11px;
   -webkit-border-radius: 11px 11px 11px 11px;
   border: 2px solid #966f2d;
   background-color: transparent!important;
   text-align: center;
   font-weight: bold;
   color:white;
 
 }
 
 select option{
   background-color: #1d2721;
 }
 
 
 .form-select {
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%2345d8b4' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3E%3C/svg%3E")!important;  
 }
 
 .circulo_rojo {
         position: relative;
       width: 19px;
       height: 19px;
       border-radius: 50%;
       border: 1px solid #d64747;
       background: transparent;
     }
 
 .circulo_rojo div {
         position: relative;
       width: 11px;
       height: 11px;
       border-radius: 50%;
       background: #d64747;
       margin: auto;
       top: 3px;
       left: 0;
       bottom: 0;
       right: 0;
     }
 
 .mlef{
   margin-left: 2%!important;
 }    
 
 
 .carousel-item {
   width: calc(100% / 4); /* number of items is 3 */
 }
 
 .carousel-item.active {
   display: block;
 }
 
 .carousel-item.active + .carousel-item {
   display: block;
   transform: translateX(100%);
 }
 
 .carousel-item.active + .carousel-item + .carousel-item {
   display: block;
   transform: translateX(200%);
 }
 
 .carousel-item.active + .carousel-item + .carousel-item + .carousel-item {
   display: block;
   transform: translateX(300%);
 }
 
 /* 
 - if you wish for n items in the carousel just this pattern for i from 1 to n
 - (+ .carousel-item) * i = "+ .carousel-item" i times like above
 .carousel-item.active (+ .carousel-item) * i {
   display: block;
   transform: translateX(i * 100%);
 } */
 
 .carousel-item.active.carousel-item-start + .carousel-item {
   display: block;
   transform: translateX(0);
 }
 
 .carousel-item.active.carousel-item-start + .carousel-item + .carousel-item {
   display: block;
   transform: translateX(100%);
 }
 
 .carousel-item.active.carousel-item-start
   + .carousel-item
   + .carousel-item
   + .carousel-item {
   display: block;
   transform: translateX(200%);
 }
 
 /* 
 - if you wish for n items in the carousel just this pattern for i from 1 to n
 - (+ .carousel-item) * i = "+ .carousel-item" i times like above
 .carousel-item.active.carousel-item-start (+ .carousel-item) * i {
   display: block;
   transform: translateX((i - 1) * 100%);
 } */
 
 .carousel-item.active.carousel-item-end + .carousel-item {
   display: block;
   transform: translateX(200%);
 }
 
 .carousel-item.active.carousel-item-end + .carousel-item + .carousel-item {
   display: block;
   transform: translateX(300%);
 }
 
 /* 
 - if you wish for n items in the carousel just this pattern for i from 1 to n - 1
 - (+ .carousel-item) * i = "+ .carousel-item" i times like above
 .carousel-item.active.carousel-item-end (+ .carousel-item) * i {
   display: block;
   transform: translateX((i + 1) * 100%);
 } */
 
 .carousel-control-next, .carousel-control-prev {
   width: 4%;
 }
 
 .carousel-inner {
     padding-left: 5%;
     padding-right: 5%;
 }
 
 iframe{
   width: 100%;
 }
 
 
 .card-img-overlay{
   /* From https://css.glass */
   background: rgba(14, 14, 14, 0.49);
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(0px);
   -webkit-backdrop-filter: blur(0px);
   border: 1px solid rgba(14, 14, 14, 0.15);
 }
 
 .icon_video{
   color: white; 
   font-size: 3em;
 }
 
 .icon_prev{
   font-size: 5em;
   color:#45d8b4;
 }
 
 .carousel-control-next, .carousel-control-prev {
    opacity:1;
 }
 
 .progress {
     background-color: #45d8b4;
     border-radius: 3.25rem;
 }
 
 .progress-bar {
   background-color: #1A2820;
 
 }
 
 .card-footer {
     padding: 0px;
     background-color: transparent;
     border-top: none;
 }
 
 .text_ajust{
     height: 30vh;
 }
 
 .img_cards{
   height: 23vh;
  }
 
  .desactivado{
   background-color: #CECECE;	
 }
 
  .desactivado img {
     filter: grayscale(1);	
  }
 
  .desactivado h4, .desactivado.card-text, .desactivado .color_guinda{
   color: #6B6B6B!important;
  }
 
  .desactivado .circulo_guinda{
   background-color: #6B6B6B;
  }
 
  .desactivado .progress, .desactivado .progress .progress-bar, .desactivado .fondo_amarillo {
   background-color: #6B6B6B;
  }
 
  .icon_prev2{
   font-size: 5em;
   color:#5a122c;
 }
 
 .carrusel2{
     width: calc(100% / 3)!important;
 }
 
 .list-inline>li {
     display: inline-block;
 }	
 
 .list-inline>li>a {
     line-height: 1.5!important;
 }
 
 .img_principal{
   width: 100%;
     height: 100%;
     object-fit: cover;
 }
 
 .navbar-brand {
   margin-right: 8rem;
     margin-left: 4rem;
 }
 
 .navbar-expand-lg .navbar-nav .nav-link {
   padding-right: 2.5rem;
   padding-left: 2.5rem;
 }
 
 
 .navbar-expand-lg .navbar-nav .nav-link, .d-flex {
   padding-right: 2.5rem;
   padding-left: 2.5rem;
 }
 
 
 .navbar-expand-lg .navbar-nav  .cir{
   padding-left: .5rem;
   text-decoration: none;
 }
 
 .course{
     width: calc(100% /1)!important;
   height: 50vh;
 }
 
 .course_car{
   padding-left: 0%!important;
     padding-right: 0%!important;
 
 }
 
 .fondo_negro_d{
   background: rgba(14, 14, 14, 0.49);
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(0px);
   -webkit-backdrop-filter: blur(0px);
   border: 1px solid rgba(14, 14, 14, 0.15);
 }
 
 .course_caption {
     position: absolute;
     right: 0%!important;
     bottom: 0%!important;
     left: 0%!important;
     padding-top: 1.25rem;
     padding-bottom: 1.25rem;
     color: #fff;
     text-align: start;
     width: 100%;
     height: 100%;
 }
 
 .menu_cursos{
   padding-bottom: 2%;
 }
 
 .menu_cursos .nav-link{ 
   color:black!important;
   font-weight: bold;
   padding-left: 3% !important;
     padding-right: 3% !important;
 }
 
 .menu_cursos .nav-link:hover{
   color:black!important;
   font-weight: bold;
   border: transparent!important;
   
 }
 
 .menu_cursos .active{
   padding-left: 3%!important;
     padding-right: 3%!important;
     border: solid 2px #9F742E!important;
   border-radius: 15px 15px 15px 15px!important;
   -webkit-border-radius: 15px 15px 15px 15px!important;
   -moz-border-radius: 15px 15px 15px 15px!important;
   color: #9f742e!important;
   font-weight: bold;
 }
 
 .menu_cursos .active:hover{
    color:#9F742E!important;
    border: solid 2px #9F742E!important;
 
 }
 
 .hp_50{
   height: 50vh!important;
 }
 
 .pog_course{
   background-color: #9F742E;
 }
 
 
 .pog_course .progress-bar{
   background-color: #5a122c;
 
 }
 
 /* Audios */
 .volume-slider {
     width: 0;
     opacity: 0;
     transition: opacity 0.5s ease, width 0.5s ease;
 }
 
 .volume-control-container:hover .volume-slider {
     width: 100%;
     /* Adjust based on the desired width when visible */
     opacity: 1;
 }
 
 .text-justify {
     text-align: justify;
     text-justify: inter-word;
 }
 
 .album-icon {
     width: 100%;
     margin-bottom: 1em;
     border-radius: 10px;
 }
 
 .album-col {
     text-align: center;
     padding: 2em;
 }
 
 .album-col button {
     all: unset;
 }
 
 .album-col button:hover {
     font-weight: bold;
     cursor: pointer;
 }
 
 .album-col li {
     background: transparent;
 }
 
 #albumTitle {
     margin-bottom: 1em;
     font-size: xx-large;
 }
 
 .song-col {
     padding: 2em;
 }
 
 .song-col header {
     padding-bottom: 1em;
 }
 
 .card_musica {
     border: 2px solid rgb(215, 215, 215);
     box-shadow: 2px 2px 4px rgb(128, 128, 128);
     background: transparent;
 }
 
 .progress_audio {
     background: transparent;
 }
 
 #songTitleCard {
     margin-top: 0.5em;
     margin-bottom: 0.5em;
 }
 
 i {
     font-size: 1.25em;
 }
 
 #songCover {
     border-radius: 10px;
     padding: 1em;
     max-width: 100%;
 }
 
 
 
 #songAuthor {
     font-size:large;
 }
 
 #songImageContainer{
   padding-right: 0!important;
     padding-left: 0!important;
 }
 
 /* ****************** */
 
 .desenfocar{
   filter: blur(1.5rem);
 }
 
 .div_img{
 
   display: inline-block;
     position: relative;
     width: 85%;
     height: 85%;
     overflow: hidden;
     border-radius: 50%;
 }
 
 .img_redonda{
   width: 100%;
   height: auto;
 }
 
 .border_blanco{
   border: solid 2px white;
 }
 
 .select_nivel_C {
     width: 100%;
     border-radius: 11px 11px 11px 11px;
     -moz-border-radius: 11px 11px 11px 11px;
     -webkit-border-radius: 11px 11px 11px 11px;
     border: 2px solid #966f2d;
     text-align: center;
     font-weight: bold;
     color: #5a122c;
 }
 
 .select_nivel_C option{
   background-color: white!important;
 }
 
 .ps_9{
   padding-left: 9rem;
 }
 
 .title_docuementos{
   background-color: #966f2d;
   color:#1a281f;
   padding: 2%;
   margin: 0;;
   border-radius: 38px 38px 0px 0px;
 }
 
 .sn_br{
   border-right: 0px;
 }
 
 
 .sn_bl{
   border-left: 0px;
 }
 
 
 .circulo_guinda_certificado {
   width: 1rem;
   height: 1rem;
   border-radius: 50%;
   background:#5a122c;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
     margin:0px auto;
     padding:2%;
   font-size: .4rem;
 }
 
 .circulo_guinda_porcent {
   width: 7rem;
   height: 7rem;
   border-radius: 50%;
   background:#5a122c;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
     margin:0px auto;
     padding:2%;
   font-size: 2.4rem;
 }
 
 .circulo_negro_certificado {
   width: 1rem;
   height: 1rem;
   border-radius: 50%;
   background: #1a281f;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
     margin:0px auto;
     padding:2%;
   font-size: .4rem;
 }
 
 
 .circulo_gris_certificado {
   width: 1rem;
   height: 1rem;
   border-radius: 50%;
   background: #6b6b6b;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
     margin:0px auto;
     padding:2%;
   font-size: .4rem;
 }
 
 .circulo_gris_porcent {
   width: 7rem;
   height: 7rem;
   border-radius: 50%;
   background: #9a9b9a;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
     margin:0px auto;
     padding:2%;
   font-size: 2.4rem;
 }
 
 
 
 
 .titul_cert{
 
   font-size: 0.7rem!important;
     padding-top: .4rem;
 }
 
 .tam_cert{
   height: 29vh;
 }
 
 .diploma{
   width: 68%;
 }
 
 .centrar{
   display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .titulos_desc{
   border-radius: 66px 66px 66px 66px;
   -webkit-border-radius: 66px 66px 66px 66px;
   -moz-border-radius: 66px 66px 66px 66px;
   border: solid 2px #9a9b9a;
   padding:2% 0% 2% 2%;
   font-weight: bold;
  }
 
  .circulo_amarillo_const {
   width: 2rem;
   height: 2rem;
   border-radius: 50%;
   background:#9f742e;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
     padding:2%;
     margin-right: 2%;
     margin-top: 2%;
 }
 .wi80{
   width: 80%;
 }
 
 h5.linea {
   margin-top: 30px;
   text-align: center;
   }
 
   h5.linea {
   position: relative;
   z-index: 1;
   }
   h5.linea:before {
   border-top: 2px solid #6B6B6B;
   content: "";
   margin: 0 auto;
   position: absolute;
   top: 50%;
   left: 0;
   right: 0;
   bottom: 0;
   width: 95%;
   z-index: -1;
   }
 
   h5.linea span {
   
   background: #fff;
   padding: 0 15px;
   }
 
   .quiz-container {
     background-color: white;
     border-radius: 15px;
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
     padding: 30px;
     max-width: 600px;
     width: 100%;
     margin: auto;
 }
 
 .quiz-header {
     text-align: center;
     margin-bottom: 30px;
 }
 
 .question {
     font-size: 1.2rem;
     margin-bottom: 20px;
 }
 
 .options {
     display: grid;
     gap: 10px;
 }
 
 .option {
     background-color: #f8f9fa;
     border: 2px solid #dee2e6;
     border-radius: 10px;
   padding: 3px;
     cursor: pointer;
     transition: all 0.3s ease;
 }
 
 .option:hover {
     background-color: #e9ecef;
 }
 
 .option.selected {
     background-color: #cfe2ff;
     border-color: #0d6efd;
 }
 
 .option.correct {
     background-color: #d4edda;
     border-color: #28a745;
 }
 
 .option.incorrect {
     background-color: #f8d7da;
     border-color: #dc3545;
 }
 
 .quiz-footer {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 30px;
 }
 
 .timer {
     font-size: 1.2rem;
     font-weight: bold;
 }
 
 .progress {
     height: 10px;
     margin-bottom: 20px;
 }
 
 .results {
     text-align: center;
 }
 
 .result-icon {
     font-size: 4rem;
     margin-bottom: 20px;
 }
 
 .score {
     font-size: 2rem;
     font-weight: bold;
     margin-bottom: 20px;
 }
 
 .circulo_guinda_cuestion {
     width: 1rem;
     height: 1rem;
     border-radius: 50%;
     background: #5a122c;
     display: flex
 ;
     justify-content: center;
     align-items: center;
     text-align: center;
     padding: 2%;
     margin-top: -12px;
     position: absolute;
     margin-left: -.5%;
 }
 
 @media (min-width: 1464px) and (max-width: 20001px) {
   /*body {
     background: #de3163 !important;
   }*/
 
   .tam_cert {
     height: 20vh;
   }
 
 
   
 
   }