$primary-color: #004080;
$secondary-color: #f8f9fa;
$primary: #82c5be;
$primary-light: #F2F7F8;

$font-family-title: 'Inter', sans-serif;
$serif: Crimson;
$f-sans-serif: Crimson, 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;

@import 'edx-bootstrap/sass/open-edx/theme';
