$primary: #82c5be;
$primary-light: #F2F7F8;

// Theme fonts
$font-family-title: 'Inter', sans-serif;;
$serif: Crimson;
$f-sans-serif: Crimson, 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
// Initialize the Open edX Bootstrap theme
@import 'edx-bootstrap/sass/open-edx/theme';


// Introducing new variables

$dark: #111827;
$light-dark: #374151;
$big-screen: 1200px;

// Variables de color y tipografía
$font-family-base: 'Montserrat', sans-serif;
$color-guinda: #5a122c;
$color-guinda-claro: #99657a;
$color-verde-oscuro: #1d2721;
$color-gris-claro: #eaeaea;
$color-gris-oscuro: #6b6b6b;
$color-amarillo: #9f742e;
$color-negro: #1a281f;
$color-gris: #9a9b9a;
