
$static-path: "../fonts";

$primary: #82c5be;
$primary-light: #F2F7F8;

// Theme fonts
$font-family-title: 'Inter', sans-serif;;
$serif: Crimson;
$f-sans-serif: Crimson, 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
// Initialize the Open edX Bootstrap theme
@import 'edx-bootstrap/sass/open-edx/theme';


// Introducing new variables

$dark: #111827;
$light-dark: #374151;
$big-screen: 1200px;


$text-color-d: #212529;
$body-bg-d: #ffffff;

$primary-d: $primary;
$secondary-d: #6c757d;
$success-d: #198754;
$info-d: #0dcaf0;
$warning-d: #ffc107;
$danger-d: #dc3545;
$light-d: #f8f9fa;
$dark-d: #212529;
$primary-light-d: #374151;   // Un azul oscuro para elementos claros
